.header{
 height: 95vh;
}

.black-text {
  color: #000;
}

section {
  background: #F4F7F7;
  padding: 60px 0;
  font-family: serif;
}

section .section-title {
  text-align: center;
  margin-bottom: 30px;
  padding: 30px 0;
}

section .grey-text {
  text-align: center;
  color: grey;
}

/* CAROUSEL CSS
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height:  95vh;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 95vh;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}


/* Since positioning the image, we need to help out the caption */
/*.carousel-caption {
  top: 30%;
  bottom: 3rem;
  z-index: 10;
}

.carousel-caption > h1 {
    color: black;
}

.carousel-caption > p {
    color: black;
}
*/

/* PORTFOLIO CSS
-------------------------------------------------- */

.project {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.project > a {
  width: 100%;
  float: left;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}
.project > a:hover {
  webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}
.project > a:hover .desc {
  opacity: 1;
}
.project .project-entry {
  width: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .fh5co-project .project-entry {
    height: 400px;
  }
}
.project .project-entry .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  padding: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.project .project-entry .desc p {
  color: #8f989f;
}
.project .project-text {
  width: 100%;
  float: left;
  padding: 20px;
}
.project .project-text h3 {
  font-size: 20px;
}
.project .project-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.project .project-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
}
.project .project-text .stuff li:first-child {
  margin-left: 0;
}
.project .project-text .stuff li i {
  font-size: 14px;
  padding-right: 5px;
}

/* COUNTERS CSS
-------------------------------------------------- */

.counters {
  padding: 2em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.counters .counter {
  font-size: 30px;
  display: block;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto Mono", monospace;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}
.counters .counter-label {
  font-size: 16px;
  margin-bottom: 2em;
  display: block;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media all {
    .carousel-item > img {
        object-fit: cover;
    }

}

/* SERVICES CSS
-------------------------------------------------- */

.portfolio .box-portfolio {
  position: relative;
  margin: 0 30px 70px 20px;
}
.portfolio .box-portfolio .icon {
  margin-bottom: 20px;
}
.portfolio .box-portfolio .icon span {
  width: 130px;
  height: 130px;
  display: inline-block;
  position: relative;
  background: #0cff;
  display: table;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.portfolio .box-portfolio .icon span i {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 30px;
  height: 130px;
  color: #fff;
}
.portfolio .post h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.portfolio .call-to-action .btn-learn {
  padding: 12px 30px;
  background: #00dee8;
  color: #fff;
}

/* FOOTER CSS
-------------------------------------------------- */

.footer {
  background: #41444B;
  color: rgba(255, 255, 255, 0.6);
  padding: 60px 0;
}
.footer a {
  color: rgba(255, 255, 255, 0.8);
}
.footer a:hover {
  color: #fff !important;
  text-decoration: underline;
}
.footer .section-title {
  font-size: 22px;
  color: #fff;
  position: relative;
  padding-bottom: 20px;
}
.footer .contact-info {
  margin: 0 20px 60px 0;
  padding: 0;
}
.footer .contact-info li {
  font-size: 22px;
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.footer .contact-info li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #0cff;
}
.footer .social-media {
  margin: 0 0 30px 0;
  padding: 0;
}
.footer .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}

.footer .contact-form .form-group input[type="name"],
.footer .contact-form .form-group input[type="text"],
.footer .contact-form .form-group input[type="email"],
.footer .contact-form .form-group textarea {
  font-size: 16px;
}
.footer .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
.footer .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
.footer .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
.footer .contact-form .form-group textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer .contact-form .form-group input[type="name"]:-moz-placeholder,
.footer .contact-form .form-group input[type="text"]:-moz-placeholder,
.footer .contact-form .form-group input[type="email"]:-moz-placeholder,
.footer .contact-form .form-group textarea:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}
.footer .contact-form .form-group input[type="name"]::-moz-placeholder,
.footer .contact-form .form-group input[type="text"]::-moz-placeholder,
.footer .contact-form .form-group input[type="email"]::-moz-placeholder,
.footer .contact-form .form-group textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
.footer .contact-form .form-group input[type="name"]:-ms-input-placeholder,
.footer .contact-form .form-group input[type="text"]:-ms-input-placeholder,
.footer .contact-form .form-group input[type="email"]:-ms-input-placeholder,
.footer .contact-form .form-group textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer .contact-form .form-group input {
  color: #fff;
  background: transparent;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
}
.footer .contact-form .form-group textarea {
  color: #fff;
  background: transparent;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
}
.footer #btn-submit {
  color: rgba(255, 255, 255, 0.9) !important;
  background: #0cff !important;
}