<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/public/images/head.png" width="156" height="72">
     </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a id="main-link" class="nav-link mb-2 h3" href='#home'>О нас
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a id="projects-link" class="nav-link mb-2 h3" href='#projects'>Продукция</a>
          </li>
          <li class="nav-item">
            <a id="contacts-link" class="nav-link mb-2 h3" href='#contacts'>Контакты</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
